@keyframes jumping {
    0%      {transform: translate(0px, 0px);}
    50%     {transform: translate(0px, -20px);}
    100%    {transform: translate(0px, 0px);}
}

@keyframes blinking {
    0%      {color: rgba(255, 255, 255, 0.2)}
    10%     {color: rgba(255, 255, 255, 1)}
    20%     {color: rgba(255, 255, 255, 0.2)}
    100%    {color: rgba(255, 255, 255, 0.2)}
}

@keyframes fade-in {
    0%      {opacity: 0};
    100%    {opacity: 1};
}

a {
    color: white
}

body {
    background: rgb(11, 11, 255);
}

header h1 {
    
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-align: center;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

h2 {
    
    font-size: 2.2em;
    color: rgb(255, 255, 255);
    text-align: center;
}

.navbar {
    background: rgb(0, 0, 0);
}

.nav-link, .navbar-brand {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: rgb(11, 11, 11);
    color: rgb(235, 235, 235)
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: rgb(255, 255, 255) !important;
}

.header {
    background-image: url('../img/XDD.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.overlay {
    position: static;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(20, 20, 20, 0.8);
    z-index: 1;
}

.description {
    position: fixed;
    top: 30%;
    left: 25%;
    margin: auto;
    padding: 2em;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.circle1 {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border: solid 5px rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    animation-name: jumping, fade-in;
    animation-duration: 1s, 0.5s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: none, both;
}

.circle2 {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border: solid 5px rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    animation-name: jumping, fade-in;
    animation-duration: 1s, 0.5s;
    animation-delay: 0.33s, 0.33s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: none, both;
}  

.circle3 {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border: solid 5px rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    animation-name: jumping, fade-in;
    animation-duration: 1s, 0.5s;
    animation-delay: 0.67s, 0.67s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: none, both;
}

.arrow-down {
    font-size: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 1%;
    left: 49%;
    z-index: 2;
}

.blinking1 {
    animation-name: blinking;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.blinking2 {
    animation-name: blinking;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.blinking3 {
    animation-name: blinking;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.about {
    position: relative;
    z-index: 3;
    background: black;
}